@font-face {
	font-family: vegurReg;
	src: url("../fonts/Vegur-Regular.otf");

}

body, .tileBlur {
	background-image: url("../img/background.jpg");	
	background-repeat: no-repeat;
	background-size: auto;
}

.tileContainer {
  	position: relative;
	box-shadow: 4px 4px 2px #888888;
	display: inline-block;	
}

.tile {
	position: relative;
	z-index: 100;
	display: inline-block;	

}

.tileBlur {
	position:absolute;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	z-index: 99;
	
	/**-5px because .tileContainer margin is 5px*/
	background-position: top 0px; 
	
	-webkit-filter: blur(10px);
	filter: blur(10px);
}

.timeDivs, .weatherDivs {
	font-family: vegurReg;
	color: #2E481B;
	opacity: 1.0;
	text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
	display: inline-block;
}


#weatherContainer {
	display: inline-block;
	position: absolute;
	bottom: 10px;
	text-align: center;		
}

#myTime {
	display: block;
	font-size: 256px;
	left:0px;
}
#myDate {
	display: block;
	font-size: 48px;
	right: 0px;
}

#today, #tomorrow, #day3, #day4, #day5, #day6 {
	font-size: 48px;
	bottom: 0px;
	left: 10px;
	right: 10px;	
	margin: 10px;
	float: left;
}

#closeButton {
	top: 0;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
	height: 32px;
	width: 32px;
	position: absolute;
	opacity: 0.2;
}
#closeButton:hover {
	opacity: 1.0;
}
#clock, #weather {
	background-color: rgba(255,255,255,0.4); 
	}
	