@font-face {
	font-family: vegurReg;
	src: url("../fonts/Vegur-Regular.otf");

}

body {
	background-image: url("../img/background.jpg");	
	background-repeat: no-repeat;
	background-size: auto;
}

.tileContainer {
  	position: relative;
	display: block;
	box-shadow: 2px 2px 1px #35373c;
	background-color: rgba(255,255,255,0.7); 
	margin: 50px;
}

.timeDivs, .weatherDivs {
	font-family: vegurReg;
	color: #2E481B;
	opacity: 1.0;
	/* text-shadow: -1px -1px 1px #667F54, 1px 1px 1px #000; */
}

#myTime {
	display: block;
	font-size: 256px;
	left:0px;
}
#myDate {
	display: block;
	font-size: 48px;
	right: 0px;
}

#weatherContainer {
  	position: relative;
	display: block;
	margin: 50px;
	text-align: center;	
}

#weatherBox {
	display: inline-block;	
}

#today, #tomorrow, #day3, #day4, #day5, #day6 {
	width: 150px;
	height: 200px;
	margin-left: 10px;
	margin-right: 10px;
	font-size: 48px;
    display: inline-block;
    *display: inline;
	text-align: center;
	vertical-align: top;
	box-shadow: 2px 2px 1px #35373c;
	background-color: rgba(255,255,255,0.7); 
}


#closeButton {
	top: 0;
	right: 0;
	margin-top: 5px;
	margin-right: 5px;
	height: 32px;
	width: 32px;
	position: absolute;
	opacity: 0.2;
}
#closeButton:hover {
	opacity: 1.0;
}
